<html xmlns:th="http://www.thymeleaf.org" lang="zh">
<head th:replace="components/layout :: head(~{:: title}, _, _, _)">
    <title>测试</title>
</head>
<body>
<div class="grid">
    <div class="row col-md-12">
        <div class="tile tile-clouds col-md-3 col-xs-12">
            <h1 th:text="${s[0]}"></h1>
        </div>
        <div class="tile tile-emerald col-md-3 col-xs-12">
            <h1 th:text="${s[1]}"></h1>
        </div>
        <div class="tile tile-turquoise col-md-3 col-xs-12">
            <h1 th:text="${s[2]}"></h1>
        </div>
        <div class="tile tile-amethyst col-md-3 col-xs-12">
            <h1 th:text="${s[3]}"></h1>
        </div>
    </div>
</div>
</body>
</html>
