<!DOCTYPE html>
<html lang="zh-CN"
      xmlns:th="http://www.thymeleaf.org"
      xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout">
<head>
    <!-- Page Info -->
    <title> Pear Admin Layui </title>
    <meta charset="UTF-8"/>
    <meta http-equiv="Content-Type" content="text/html; charset=UTF-8"/>
    <meta name="renderer" content="webkit">
    <meta http-equiv="x-ua-compatible" content="IE=edge,Chrome=1"/>
    <meta name="viewport" content="width=device-width, initial-scale=1, maximum-scale=1, user-scalable=no">

    <!-- 依 赖 样 式 -->
    <link rel="stylesheet" th:href="@{/plugin/pear/css/pear.css}" />

    <!-- 依 赖 脚 本 -->
    <script th:src="@{/plugin/layui/layui.js}"></script>
    <script th:src="@{/plugin/pear/pear.js}"></script>
</head>
<body>
<section layout:fragment="content">
</section>
</body>
</html>
