<!DOCTYPE html>
<html lang="zh-CN"
      xmlns:th="http://www.thymeleaf.org"
      xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout"
      layout:decorate="~{components/layout.html}">
<head>
    <title>多选项卡内容</title>
</head>
<body class="pear-container">
<section layout:fragment="content">
    <div class="layui-card">
        <div class="layui-card-header"></div>
        <div class="layui-card-body">
            <button class="pear-btn pear-btn-primary add">新增 Demo</button>
            <button class="pear-btn pear-btn del">关闭 当前</button>
        </div>
    </div>
    <script>
        layui.use(['tab', 'jquery', 'layer'], function() {
            var $ = layui.jquery,
                layer = layui.layer,
                tab = layui.tab;

            $('.add').click(function() {
                // ADD 添加方法
                parent.layui.tab.addTabOnlyByElem('contents', {
                    id: 'demo',
                    title: 'Demo',
                    url: '../system/space.html',
                    close: true,
                });
            });

            $('.del').click(function() {
                parent.layui.tab.delCurrentTabByElem('contents', function(id) {
                    layer.msg('已删除 \'' + id + '\' 标签页');
                });
            });

        });
    </script>
</section>
</body>
</html>
