<!DOCTYPE html>
<html lang="zh-CN"
      xmlns:th="http://www.thymeleaf.org"
      xmlns:shiro="http://www.pollix.at/thymeleaf/shiro"
      xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout"
      layout:decorate="~{components/layout.html}" >
<head>
    <title>首页</title>
    <link rel="stylesheet" th:href="@{css/my/demo1.css}">
    <link rel="stylesheet" th:href="@{css/my/demo2.css}">
    <script type="text/javascript" th:src="@{js/my/demo1.js}"></script>
    <script type="text/javascript" th:src="@{js/my/demo2.js}"></script>
    <style rel="stylesheet">
        #con {
            background: #3c763d;
        }
    </style>
    <script type="text/javascript">
        function testDemo() {
            alert('test');
        }
    </script>
</head>
<body>
<section layout:fragment="content">
    <div>
        已登陆
    </div>
    <div>
        userForm
    </div>
    <div>
        <a th:href="@{/hello}">测试</a>
    </div>
    <div>
        <a th:href="@{/user}">用户列表</a>
    </div>
    <div shiro:hasPermission="user:delete">
        <a th:href="@{/user/delete}">用户删除</a>
    </div>
    <div>
        <a th:href="@{/}">首页</a>
    </div>
    <div>
        <a th:href="@{/logout}">退出</a>
    </div>
</section>
</body>
</html>
