<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.glacier.mybatis.mapper.RoleMenuMapper">
    <resultMap id="BaseResultMap" type="com.glacier.mybatis.entity.RoleMenu">
        <result column="role_id" jdbcType="VARCHAR" property="roleId"/>
        <result column="menu_id" jdbcType="VARCHAR" property="menuId"/>
    </resultMap>

    <sql id="base_columns">
        a.role_id, a.menu_id
    </sql>

    <sql id="join_columns">
    </sql>

    <sql id="joins">
    </sql>

    <select id="findAll" resultMap="BaseResultMap">
        select
        <include refid="base_columns"/>
        from sys_role_menu a
    </select>

    <delete id="deleteByMenuId" parameterType="java.lang.String">
        delete
        from sys_role_menu
        where menu_id = #{menuId}
    </delete>

    <delete id="deleteByRoleId" parameterType="java.lang.String">
        delete
        from sys_role_menu
        where role_id = #{roleId}
    </delete>

    <insert id="insert" parameterType="com.glacier.mybatis.entity.RoleMenu">
        insert into sys_role_menu (role_id, menu_id)
        values (#{roleId}, #{menuId})
    </insert>

</mapper>
